
  <p><%= label_tag(:name, "Name") %>
  <%= f.text_field(:name) %></p>

  <p>Group type: <%= assignment.group_type.name %>

  <input type="hidden" name="assignment[group_type_id]" value="<%= assignment.group_type_id %>">

  <p><%= label_tag(:due_date, "Due date") %>
  <%= f.datetime_select(:due_date) %></p>

  <p><label for="assignment_info">Assignment description</label>
    <textarea id="assignment_info" name="assignment[info]"><%=assignment.info%></textarea>
  </p>

  <p>Submission format:
  <%= f.select(:submission_format,
    options_for_select([
      ['Plain text', 'plaintext'], ['Zip file', 'zipfile']], "plaintext")) %></p>

  <p><%= label_tag(:maximum_mark, "Maximum mark") %>
  <%= f.text_field(:maximum_mark) %></p>

  <p><%= label_tag(:behavior_on_submission, "Behavior on submission") %>
  <%= f.text_field(:behavior_on_submission) %></p>