
  <input type="hidden" name="assignment[group_type_id]" value="<%= assignment.group_type_id %>">

<div class="form-group">
  <%= label_tag(:name, "Name", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:name, :class => "form-control") %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 col-sm-offset-2">
    Group type
  </label>
  <div class="col-sm-5">
    <%= assignment.group_type.name %>
  </div>
</div>
<div class="form-group">
  <%= label_tag(:due_date, "Due date", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.datetime_select(:due_date, :class => "form-control") %><br>
    TODO: make this default to previous value in the edit form
  </div>
</div>

<div class="row">
  <label for="assignment_info" class="col-sm-6 col-sm-offset-2">Assignment description</label>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <textarea class="form-control" id="assignment_info" name="assignment[info]"><%=assignment.info%></textarea>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:submission_format, "Submission format", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.select(:submission_format,
      options_for_select([
        ['Plain text', 'plaintext'], ['Zip file', 'zipfile']], "plaintext")) %><br>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:maximum_mark, "Maximum mark", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:maximum_mark, :class => "form-control ") %>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:behavior_on_submission, "Behavior on submission", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:behavior_on_submission, :class => "form-control") %>
  </div>
</div>