
  <input type="hidden" name="assignment[group_type_id]" value="<%= assignment.group_type_id %>">

<div class="form-group">
  <%= label_tag(:name, "Name", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:name, :class => "form-control") %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 col-sm-offset-2">
    Group type
  </label>
  <div class="col-sm-5">
    <%= assignment.group_type.name %>
  </div>
</div>
<div class="form-group">
  <%= label_tag(:due_date, "Due date", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.datetime_select(:due_date, :class => "form-control") %>
    For timezone inference, when you loaded this page the time was <%= Time.zone.now %>
  </div>
</div>

<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <%= f.check_box(:is_due_date_compulsary) %>
    <label> Stop accepting submissions after due date
    </label>
    <span class="help-block">If this isn't selected, users continue to be able to submit after the due date.</span>
  </div>
</div>

<div class="row">
  <label for="assignment_info" class="col-sm-6 col-sm-offset-2">Assignment description</label>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <textarea class="form-control" id="assignment_info" rows="10" name="assignment[info]"><%=assignment.info%></textarea>
    <span class="help-block"> TODO: restrict allowed HTML here. Currently you can do whatever you want</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:submission_format, "Submission format", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.select(:submission_format,
      options_for_select([
        ['Plain text', 'plaintext'], ['Zip file', 'zipfile']], assignment.submission_format)) %><br>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:filepath_regex, "Filepath regex", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:filepath_regex, :class => "form-control",
        :html => { :placeholder => ".hs .txt", :rows => 3 }) %>
  <span class="help-block">This determines what filetypes are displayed in the web interface. For instance, if you had <code>.*(\.hs|\.txt)</code>, it would only display files ending with .hs and .txt.</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:behavior_on_submission, "Behavior on submission", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_area(:behavior_on_submission, :class => "form-control") %>
    <span class="help-block">This determines actions which the server takes when the assignment is submitted. Currently, the only implemented one is "check_compiling_haskell", which compiles the code with GHC, and comments on the assignment submission as to whether it succeeded.</span>
  </div>
</div>


<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <%= f.check_box(:is_visible) %>
    <label> Visible
    </label>
    <span class="help-block">If this isn't selected, students aren't able to see this assignment.</span>
  </div>
</div>