
  <input type="hidden" name="assignment[group_type_id]" value="<%= assignment.group_type_id %>">

<div class="form-group">
  <%= label_tag(:name, "Name", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:name, :class => "form-control") %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 col-sm-offset-2">
    Group type
  </label>
  <div class="col-sm-5">
    <%= assignment.group_type.name %>
  </div>
</div>
<div class="form-group">
  <%= label_tag(:due_date, "Due date", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.datetime_select(:due_date, :class => "form-control") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <label>
      <input type="checkbox"> Stop accepting submissions after due date
    </label>
    <span class="help-block">If this isn't selected, users continue to be able to submit after the due date.</span>
  </div>
</div>

<div class="row">
  <label for="assignment_info" class="col-sm-6 col-sm-offset-2">Assignment description</label>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <textarea class="form-control" id="assignment_info" rows="10" name="assignment[info]"><%=assignment.info%></textarea>
    <span class="help-block"> TODO: restrict allowed HTML here. Currently you can do whatever you want</span>
  </div>
</div>

<div class="row">
  <label for="marking_scheme" class="col-sm-6 col-sm-offset-2">Assignment marking scheme</label>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <% @assignment.marking_categories.each do |category| %>
          <h4><%= category.name %>
            <span class="small"><%= category.maximum_mark %> marks</span></h4>
          <p><%= category.description %></p>
        <% end %><br>

        <button id="new_marking_category" class="btn btn-default">
          Add category
        </button>

<!--         <h4>New category</h4>
        <label for="marking_category_name">Name</label>
        <input name="marking_category[name]" id="marking_category_name"><br>
        <label for="marking_category_maximum_mark">Maximum mark</label>
        <input name="marking_category[maximum_mark]" id="marking_category_maximum_mark"><br>
        <label for="marking_category_description">Description</label>
        <input name="marking_category[description]" id="marking_category_description"><br> -->


      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:submission_format, "Submission format", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.select(:submission_format,
      options_for_select([
        ['Plain text', 'plaintext'], ['Zip file', 'zipfile']], assignment.submission_format)) %><br>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:filetypes_to_show, "File types to show", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:filetypes_to_show, :class => "form-control",
        :html => { :placeholder => ".hs .txt" }) %>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:behavior_on_submission, "Behavior on submission", :class => "col-sm-2 col-sm-offset-2") %>
  <div class="col-sm-5">
    <%= f.text_field(:behavior_on_submission, :class => "form-control") %>
  </div>
</div>