<p><em>Assignment for
  <%= link_to(assignment.group_type.name, assignment.group_type) %></em>
</p>

<p>This is an assignment for the following courses:</p>

<ul>
  <% assignment.courses.each do |course| %>
    <li>
      <%= link_to course.name, course_url(course) %>
    </li>
  <% end %>
</ul>

<% if assignment.due_date %>
  <p>Due at <%= assignment.due_date %> </p>
<% end %>

<h3>Description</h3>
<p>
  <%= assignment.info.html_safe %>
</p>

<h3>Marking scheme</h3>
<% assignment.marking_categories.each do |category| %>
  <h4><%= category.name %>
    <small>(<%= category.maximum_mark %> marks)</small>
  </h4>
  <p><%= category.description %></p>
<% end %>