<h2>New assignment</h2>
<%= form_for @assignment, url: {action: "create"} do |f| %>
  <p><%= label_tag(:name, "Name") %>
  <%= f.text_field(:name) %></p>

  <p>Group type: <%= @group_type.name %>

  <input type="hidden" name="assignment[group_type_id]" value="<%= @group_type_id %>">

  <p><%= label_tag(:due_date, "Due date") %>
  <%= f.datetime_select(:due_date) %></p>

  <p><label for="assignment_info">Assignment description</label>
    <textarea id="assignment_info" name="assignment[info]"><%=@assignment.info%></textarea>
  </p>

  Submission format:
  <%= f.select(:submission_format,
    options_for_select([
      ['Plain text', 'plaintext'], ['Zip file', 'zipfile']], "plaintext")) %>


  <p><%= f.submit("Create assignment") %></p>
<% end %>