<h3><%= @assignment.name %></h3>

<% if @assignment.due_date %>
  <p>Due at <%= @assignment.due_date %> </p>
<% end %>

This is an assignment for the following courses:

<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name, course_url(course) %>
    </li>
  <% end %>
</ul>

<h3>Your submissions</h3>
<% if @user_submissions.empty? %>
  <p>You haven't submitted anything.</p>
<% else %>
  <ul>
    <% @user_submissions.each do |submission| %>
      <li> <%= link_to(submission.created_at,
                assignment_assignment_submission_url(
                          @assignment, submission)) %> </li>
    <% end %>
  </ul>
<% end %>

<% if Time.now < @assignment.due_date %>
<%= link_to "Submit assignment", new_assignment_assignment_submission_url(
                                                                @assignment)%>
<% else %>
  <p>Submissions have closed.</p>
<% end %>