<% content_for :title, @assignment.name %>
<div class="row">
  <div class="col-sm-5 col-sm-offset-2">
    <h2><%= @assignment.name %></h2>
  </div>


  <% if @relation == :convener || current_user.is_admin %>
    <div class="col-sm-3">
      <div class="btn-group pull-right pull-down extra_space_button">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Edit", edit_assignment_url(@assignment) %></li>
          <li><%= link_to "View all marks as csv",
                assignment_marks_url(@assignment) %></li>
          <li><%= link_to "Peer review cycles",
                assignment_cycles_url(@assignment) %></li>
          <li><%= link_to "Custom behaviors",
                assignment_custom_behaviors_url(@assignment) %></li>
          <li><%= link_to "Extensions",
                assignment_extensions_url(@assignment) %></li>
          <li><%= link_to "Marking scheme",
                assignment_marking_categories_url(@assignment) %></li>
          <li class="divider"></li>
          <li><%= link_to "Download all submissions as zip",
                assignment_zipfile_url(@assignment) %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <%= render :partial => "show_info",
                            :locals => { :assignment => @assignment,
                                        :courses => @courses} %>

    <h3>Submissions</h3>
        <% if @relation == :staff %>
<!--           As a tutor, you can't currently download all of your students'
        submissions as a zip. Sorry about that. You can, however, view and download them individually. -->
        <p>
        <% elsif @relation == :convener %>
          <%= link_to "Download all submissions as zip",
            "/assignments/#{@assignment.id}/submissions.zip", 
            {:class => "btn btn-primary btn-sm"} %>
        <% end %>

          <%= link_to("Submit test submission",
            new_assignment_assignment_submission_url(@assignment), 
            {:class => "btn btn-primary btn-sm"}) %>
        </p>

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Progress</h4>

        <% if @number_students > 0 %>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: <%=
                    @number_finalized * 100.0 / @number_students %>%">
            </div>
            <div class="progress-bar progress-bar-warning" style="width: <%=
                    (@number_submitted- @number_finalized) * 100.0 / @number_students %>%">
            </div>
            <div class="progress-bar progress-bar-danger" style="width: <%=
                    (@number_students- @number_submitted) * 100.0 / @number_students %>%">
            </div>
          </div>

          <table class="table table-bordered table-striped">
            <tr>
              <td>Students who have submitted</td>
              <td><%= @number_submitted %></td>
            </tr>
            <tr>
              <td>Students who have finalized</td>
              <td><%= @number_finalized %></td>
            </tr>
            <tr>
              <td>Total number of students</td>
              <td><%= @number_students %></td>
            </tr>
          </table>

          <h4>By group</h4>
          <ul>
          <% user_groups = current_user.is_admin_or_convener? ? @assignment.groups : current_user.staffed_groups & @assignment.groups %>
          <table class="table table-condensed table-bordered table-striped">
            <% user_groups.each do |group| %>
              <tr>
                <td>
                  <lead><%= link_to group.name, assignment_group_show_url(@assignment, group) %></lead>
                </td>
                <td style="width:70%;">
                  <% progress_hash = group.progress_bar_hash(@assignment) %>
                  <a href="<%= assignment_group_show_url(@assignment, group) %>">
                    <div class="progress progress-striped active">
                      <!--><div class="progress-bar" style="width: <%= progress_hash[:percent_marked] %>%">
                      </div>-->
                      <div class="progress-bar progress-bar-success" style="width: <%= progress_hash[:percent_finalized] %>%">
                      </div>
                      <div class="progress-bar progress-bar-warning" style="width: <%= progress_hash[:percent_submitted] %>%">
                      </div>
                      <div class="progress-bar progress-bar-danger" style="width: <%= progress_hash[:percent_not_submitted] %>%">
                      </div>
                    </div>
                  </a>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>

    <h4>Raw list of all submissions (all <%= @submissions.count %> of them)</h4>
<!-- <p>TODO: currently when you download all submissions as a zip, none of them are labelled, and some of them are old submissions. How should I label them? Which ones should be downloaded?</p> -->
      <!-- Submission table -->
      <table id="raw-submissions" class="table table-bordered table-striped">
        <tr>
          <th><h5>Student</h5></th>
          <th><h5>ID</h5></th>
          <% if @assignment.peer_review_cycles.any? %>
            <th><h5>Visible to</h5></th>
          <% end %>
          <th><h5>Status</h5></th>
        </tr>
        <% @submissions.each do |submission| %>
            <tr>
              <!-- User info -->
              <td><%= link_to "#{submission.user.name}",
                  assignment_assignment_submission_url(@assignment, submission) %></td>
              <td><%= link_to "u#{submission.user.uni_id}",
                  assignment_assignment_submission_url(@assignment, submission) %></td>
              <!-- Peer reviewer -->
              <% if @assignment.peer_review_cycles.any? %>
                <td>
                  <% unless submission.submission_permissions.empty? %>
                    <%= submission.permitted_users.pluck(:name).join(", ") %>
                  <% end %>
                </td>
              <% end %>
                  
              <td>
                <!-- Submission status -->
                <% if submission.is_finalized %>
                  <span class="label label-success">Finalized</span>
                <% else %>
                  <span class="label label-warning">Not finalized</span>
                <% end %>
                <% if @assignment.peer_review_cycles.any? %>
                  <% if (submission.comments.where_not_automated.count == 0) && 
                      (@assignment.peer_review_cycles.any?) %>
                    <span class="label label-default">Not Reviewed</span>
                  <% else %>
                    <span class="label label-success">Reviewed</span>
                  <% end %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
      
         <!-- TODO: add this feature back in -->
         <!--  <%# unless submission.mark %>
            <span class="label label-default">(unmarked)</span>
-->
</div>
