<% content_for :title, @assignment.name %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2><%= @assignment.name %></h2>

    <%= render :partial => "show_info",
                            :locals => {:assignment => @assignment,
                                            :courses => @courses} %>

    <h3>Your submissions</h3>
    <% extension = current_user.extensions.where(:assignment_id => @assignment.id).first %>
    <% if extension %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>You have an extension on this assignment until <%= extension.due_date %>.</p>
      </div>
    <% end %>

    <% if @user_submissions.empty? %>
      <p>You haven't submitted anything.</p>
    <% else %>
      <ul>
        <% @user_submissions.each do |submission| %>
          <li> <%= link_to(submission.created_at,
                    assignment_assignment_submission_url(
                              @assignment, submission)) %> </li>
        <% end %>
      </ul>
    <% end %>

    <% if @assignment.disable_submitting_until_comment(current_user) %>
      <p>You can't submit again until you've commented on your peer review
        submissions.</p>
    <% elsif @assignment.already_due(current_user) %>
      <p>Submissions have closed.</p>
    <% else %>
      <%= link_to("Submit assignment",
                new_assignment_assignment_submission_url(@assignment)) %>
    <% end %>


    <% unless @permitted_submissions.empty? %>
      <h3>Submissions for peer review</h3>
      <ul>
      <% @permitted_submissions.each do |submission| %>
        <li> <%= link_to("Submission #{submission.id}",
                  assignment_assignment_submission_url(
                            @assignment, submission)) %>
            <% unless submission.commented_on_by_user?(current_user) %>
              <span class="label label-default">Needs comment</span>
            <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>