<h3><%= @assignment.name %></h3>


<% if @relation == "convener" %>
  <p><%= link_to "Download all marks as csv",
            "/assignments/#{@assignment.id}/marks.csv" %></p>
<% end %>

<p>TODO: let markers download all their assignments as a zip.</p>

<% if @assignment.due_date %>
  <p>Due at <%= @assignment.due_date %> </p>
<% end %>

<p>
  <%= @assignment.info %>
</p>

<h3>Submissions</h3>
<ul>
  <% @submissions.each do |submission| %>
    <% if submission.mark %>
      <li><%= link_to("#{submission.user.name} (u#{submission.user.uni_id})",
              assignment_assignment_submission_url(@assignment, submission)) %> </li>
    <% else %>
      <li><b> <%= link_to("#{submission.user.name} (u#{submission.user.uni_id})",
          assignment_assignment_submission_url(@assignment, submission)) %>
            (unmarked)</li> </b>
    <% end %>
  <% end %>
</ul>