<h2><%= @assignment.name %></h2>

<% if @assignment.due_date %>
  <p>Due at <%= @assignment.due_date %> </p>
<% end %>

<p>
  <%= @assignment.info %>
</p>

<p>This is an assignment for the following courses:</p>

<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name, course_url(course) %>
    </li>
  <% end %>
</ul>

<h3>Your submissions</h3>
<% if @user_submissions.empty? %>
  <p>You haven't submitted anything.</p>
<% else %>
  <ul>
    <% @user_submissions.each do |submission| %>
      <li> <%= link_to(submission.created_at,
                assignment_assignment_submission_url(
                          @assignment, submission)) %> </li>
    <% end %>
  </ul>
<% end %>

<% unless @assignment.already_due %>
<%= link_to("Submit assignment",
          new_assignment_assignment_submission_url(@assignment)) %>
<% else %>
  <p>Submissions have closed.</p>
<% end %>

<% unless @permitted_submissions.empty? %>
  <h3>Submissions for peer review</h3>
  <ul>
  <% @permitted_submissions.each do |submission| %>
    <li> <%= link_to("Anonymous submission",
              assignment_assignment_submission_url(
                        @assignment, submission)) %> </li>
  <% end %>
  </ul>
<% end %>