<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Submissions for <%= @assignment.name %> from <%= @group.name %></h2>

    <table class="table">
      <tr>
        <th></th>
        <th>Submission status</th>
        <th>Submissions</th>
        <th>Specs passing</th>
        <th>Peer review status</th>
      </tr>

      <% @students.each do |student| %>
        <tr>
          <td><%= link_to(student.name, student) %></td>

          <!-- Submission status -->

          <% if student.has_submitted_for_assignment(@assignment) %>
            <% if student.has_finalized_for_assignment(@assignment) %>
              <td class="success">Finalized</td>
            <% else %>
              <td>Submitted</td>
            <% end %>
          <% else %>
            <td class="warning"><strong>No submission</strong></td>
          <% end %>

          <td>
            <% student.submissions_for_assignment(@assignment).each do |s| %>
              <% if s.is_finalized %> <strong> <% end %>
              <%= link_to s.id, assignment_assignment_submission_url(s.assignment, s) %>
              <% if s.is_finalized %> </strong> <% end %>
            <% end %>
          </td>

          <!-- Specs passing -->

          <td>
            <%= (student.most_recent_submission(@assignment)
                       .try(:specs_passing)) || "N/A" %>
          </td>


          <!-- Peer review status -->

          <% if (student.uncommented_submissions_for_assignment(@assignment)
                      .count) > 0 %>
              <td class="warning"><strong>No comment made</strong></td>
          <% else %>
            <% if (student.permitted_submissions_for_assignment(@assignment)
                      .count) > 0 %>
              <td>Commented</td>
            <% else %>
              <td>No submission recieved</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

  </div>
</div>