<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2><%= @group.name %></h2>
    <p><%= @group.name %> is an instance of <%= link_to @group_type.name, @group_type %>.</p>

    <h3>Staff</h3>
    <table id="students" class="table table-bordered table-striped">
      <% @staff.each do |staff| %>
          <tr>
            <!-- User info -->
            <td><%= link_to staff.name, user_url(staff) %></td>
          </tr>
      <% end %>
    </table>

    <h3>Students</h3>
    <table id="students" class="table table-bordered table-striped">
        <tr>
          <th><h5>Student</h5></th>
          <th><h5>ID</h5></th>
        </tr>
        <% @users.each do |student| %>
            <tr>
              <!-- User info -->
              <td><%= link_to student.name, user_url(student) %></td>
              <td><%= link_to "u" + student.uni_id.to_s, user_url(student) %></td>
            </tr>
        <% end %>
      </table>
  </div>
</div>