<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2><%= @group.name %></h2>
    <p><%= @group.name %> is an instance of <%= link_to @group_type.name, @group_type %>.</p>

    <h3>Staff</h3>
    <ul>
      <% @staff.each do |user| %>
        <li>
          <%= link_to user.name, user_url(user) %>
        </li>
      <% end %>
    </ul>

    <h3>Students</h3>

    <ul>
      <% @users.each do |user| %>
        <li>
          <%= link_to user.name, user_url(user) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>