<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2><%= @user.name %> <small>(u<%= @user.uni_id %>)</small></h2>


    <% if @student_courses.length > 0 %>
      <p>Student in the following courses: </p>
      <ul>
        <% @student_courses.each do |course| %>
          <li>
            <%= link_to(course.name, course_url(course)) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @staffed_courses.length > 0 %>
      <p>Staffing the following courses: </p>
      <ul>
        <% @staffed_courses.each do |course| %>
          <li>
            <%= link_to(course.name, course_url(course)) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @convened_courses.length > 0 %>
      <p>Convening the following courses: </p>
      <ul>
        <% @convened_courses.each do |course| %>
          <li>
            <%= link_to(course.name, course_url(course)) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @user.student_groups.length > 0 %>
      <p>Student in the following groups: </p>
      <ul>
        <% @user.student_groups.each do |group| %>
          <li>
            <%= link_to(group.name, group_url(group)) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @user.staffed_groups.length > 0 %>
      <p>Staff in the following groups: </p>
      <ul>
        <% @user.staffed_groups.each do |group| %>
          <li>
            <%= link_to(group.name, group_url(group)) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @assignments.length > 0 %>
      <% @assignments.each do |assignment| %>
        <table id="students" class="table table-bordered table-striped">
          <tr><th><h5><%= assignment.name %> submissions:</h5></th></tr>
        <% subs = assignment.submissions.where_user_is(@user).all %>
        <% if subs.empty? %>
          <tr><td><span style="color:red" class="glyphicon glyphicon-warning-sign"></span>&nbsp; 
            <span style="color:red">No submissions found!</span></td></tr>
          </table>
          <% next %>
        <% end %>
          <% subs.each do |sub| %>
          <tr>
            <td>
              <%= link_to sub.id,
                    assignment_assignment_submission_url(assignment, sub) %>
            </td>
            <% unless sub.submission_permissions.empty? %>
              <% if current_user.is_admin_or_convenor? || current_user.staffed_courses.length > 0%>
                <td>(visible to <%= sub.permitted_users.pluck(:name).join(", ") %>)</td>
              <% end %>
            <% end %>
          </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>

  </div>
</div>