<div class="row">
  <div class="col-sm-9 col-sm-offset-2">
    <h2>Marking categories for <%= link_to @assignment.name, @assignment %></h2>

    <div class="marking_categories">
      <% @marking_categories.each do |marking_category| %>
        <div id="marking-category-<%= marking_category.id %>">
          <h3><%= marking_category.name %>
          <span class="small"><%= marking_category.maximum_mark %> marks</span>
          </h3>
          <div class="btn-group">
            <%= link_to "Delete category",
                    assignment_marking_category_url(@assignment, marking_category),
                      :method => :delete,
                      :class => "btn btn-danger btn-sm",
                      :html => {:type => :button} %>
            <button class="edit-category btn btn-default btn-sm"
                    data-id="<%=marking_category.id %>"
                    type="button">
              Edit category
            </button>
          </div>
          <p><%= marking_category.description %></p>
        </div>
      <% end %>
    </div>

    <button class="new-category btn btn-default">New category</button>
  </div>
</div>

<script type="text/template" id="category_template">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
      <%% if(marking_category.name) { %>
        <h3><%%= marking_category.name || "New category" %></h3>
        <form method="POST" action=
              "<%= assignment_marking_categories_url(@assignment) %>/<%%= marking_category.id %>"
              role="form">

        <input type="hidden" name="_method" value="PUT">
      <%% } else { %>
        <form method="POST" action="<%= assignment_marking_categories_url(@assignment) %>">
      <%% } %>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <label for="marking_category_name">Name</label>
        <input id="marking_category_name" name="marking_category[name]"
        value="<%%= marking_category.name %>"><br>

        <label for="marking_category_maximum_mark">Maximum mark</label>
        <input id="marking_category_maximum_mark" name="marking_category[maximum_mark]"
        value="<%%= marking_category.maximum_mark %>"><br>

        <label for="marking_category_description">Description</label>
        <textarea class="form-control" id="marking_category_description" name="marking_category[description]"><%%= marking_category.description %></textarea><br>
        <input type="Submit" class="btn brn-default" value="Update">
      </form>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
  var marking_categories = <%= @marking_categories.to_json.html_safe %>

  categories_hash = {};

  for(var i = 0; i < marking_categories.length; i++) {
    categories_hash[marking_categories[i].id] = marking_categories[i]
  }

  var templateCode = $("#category_template").html();

  var templateFn = _.template(templateCode);

  $(function() {
    $(".edit-category").on("click", function(event) {
      event.preventDefault();
      var marking_category_id = $(event.currentTarget).data("id")

      var marking_category_place = $("#marking-category-"+marking_category_id)

      var renderedContent = templateFn({
        marking_category: categories_hash[marking_category_id]
      });

      marking_category_place.html(renderedContent);
    })

    $(".new-category").on("click", function(event) {
      event.preventDefault();
      var renderedContent = templateFn({
        marking_category: {name:"", description:"", maximum_mark:""}
      });

      $(".marking_categories").append(renderedContent)
      $(".new-category").remove()
    })
  })
</script>