<div class="comment">

  <h4>
    <% if comment.user %>
      <%= submission.context_name(comment.user, current_user) %>
    <% else %>
      Automatic comment
    <% end %>
    <% if current_user.is_admin %>
      <small>Comment ID: <%= comment.id %></small>
    <% end %>
  </h4>

  <p>
    <%= sanitize comment.body, tags: %w(li ul ol code strong em b a) %>
  </p>

  <% if comment.has_file %>
    <strong>Attached file:</strong>
    <%= link_to comment.file_name, comment_file_url(comment) %>
  <% end %>

  <% if current_user.is_admin_or_convener? || relationship == :staff %>
      <%= button_to("Delete",assignment_assignment_submission_comment_url(
            @assignment, @submission, comment), :method => :delete,
                  :class => "btn btn-danger btn-sm delete-button") %>
  <% end %>

  <% comment.children.each do |child| %>
    <%= render :partial => "comment", :locals =>
                          { :comment => child,
                            :submission => @submission,
                            :relationship => @relationship,
                            :assignment => @assignment
                            } %>
  <% end %>
  <% if comment.user %>
    <%= render :partial => "new_comment",
             :locals => { :relationship => @relationship,
                          :submission => @submission,
                          :assignment => @assignment,
                          :parent_id => comment.id } %>
  <% end %>
</div>