<h5 data-toggle="collapse" data-target="#comment-<%= parent_id %>">
<% if parent_id.nil? %>
  <button class="btn btn-primary btn-sm">New comment</button>
<% else %>
  <button class="btn btn-primary btn-sm">Reply</button>
<% end %>
</h5>

<div id="comment-<%= parent_id %>" class="collapse comment">
<% if relationship == :peer && submission.which_peer_review_cycle(
                                      current_user).anonymise %>
  <p>This comment is anonymous: the submitter won't know who you are.</p>
<% end %>
  <form method="POST"
        action="<%= assignment_assignment_submission_comments_url(
                  assignment, submission)%>"
        enctype="multipart/form-data"
        role="form"
        class="form"
        >
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

    <input type="hidden" name="comment[parent_id]" value="<%= parent_id %>">
    <div class="form-group">
      <textarea name="comment[body]" class="form-control"></textarea>
    </div>

    <% if relationship == :staff || submission.which_peer_review_cycle(
                                      current_user).try(:maximum_mark) %>
      <p data-toggle="collapse" data-target="#marks-<%= parent_id %>">
        <a class="btn btn-success btn-sm">Add mark</a>
      </p>

      <div id="marks-<%= parent_id %>" class="collapse">
        <% if relationship == :staff %>
          <% assignment.marking_categories.each do |category| %>
            <div class="form-group">
              <%= category.name %> (<%= category.maximum_mark %> marks)
              <input id="mark_<%= category.name %>"
                     name="mark[<%= category.id%>]"
                     class="form-control">
            </div>
          <% end %>
        <% end %>
        <% peer_review_cycle = submission.which_peer_review_cycle(
                                                current_user) %>
        <% if peer_review_cycle && peer_review_cycle.maximum_mark %>
          <div class="form-group">
            Mark (out of <%= peer_review_cycle.maximum_mark %>)
            <input id="peer_mark"
                   name="peer_mark"
                   class="form-control">
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      Attach file: <%= file_field 'upload', 'datafile' %>
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Post comment">
    </div>
  </form>
</div>
