<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <p><%= link_to "Download submission", assignment_submission_zip_url(submission.assignment_id, submission),
                :class=>"btn btn-default btn-sm" %> </p>
    <h3>Files</h3>
      <div id="list-of-all" class="panel-collapse panel-body">
        <% contents = submission.all_zip_contents %>
        <% if contents.empty? %>
          <p>It looks like you didn't submit a valid zipfile, or we lost it on the server on Tuesday, April 1st. Try resubmitting?</p>
        <% else %>
          <p>If this looks wrong, try resubmitting.</p>
          <ul>
            <% submission.all_zip_contents.each do |filename| %>
              <li><%= filename %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="panel-group" id="accordion">

    <% submission.submission_files.each do |file| %>
        <h4><%= file.name %> (<%= file.body.try(:length) || file.file_blob.length %> bytes)</h4>
        <% if file.body %>
          <%= render :partial => "file", :locals => { :file => file } %>
        <% else %>
          <%= link_to "Download file", file_serve_url(file) %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>