<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <p><%= link_to "Download submission", assignment_submission_zip_url(submission.assignment_id, submission),
                :class=>"btn btn-default btn-sm" %> </p>
    <h3>Files</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-9 col-xs-offset-2">
    <div class="panel-group" id="accordion">
    <% submission.submission_files.each do |file| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= file.name.hash %>">
                <%= file.name %> (<%= file.body.length %> bytes)
            </a>
          </p>
        </div>
        <div id="<%= file.name.hash %>" class="panel-collapse panel-body collapse" style="overflow:auto;">
          <%= render :partial => "file", :locals => { :file => file } %>
        </div>
      </div>

    <% end %>
    </div>
  </div>
</div>
