<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <p><%= link_to "Download submission", assignment_submission_zip_url(submission.assignment_id, submission),
                :class=>"btn btn-default" %> </p>
    <h3>File listing</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-9 col-xs-offset-2">
    <div class="panel-group" id="accordion">
    <% a = 1 %>
    <% submission.zip_contents.each do |filename, file| %>
      <% a += 1  %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= a %>">
                <%= filename %> (<%= file.length %> bytes)
            </a>
          </p>
        </div>

        <div id="collapse<%= a %>" class="panel-collapse collapse">
          <div class="panel-body">
            <pre><code class="prettyprint"><%= file %></code></pre>
          </div>
        </div>
      </div>

    <% end %>
    </div>
  </div>
</div>
