<div class="row">
  <div class="col-xs-5 col-xs-offset-2">
    <h2>Submission for <%=  link_to @assignment.name, assignment_url(@assignment) %></h2>
    <small>Submitted at <%= @submission.created_at %></small>
    <% if current_user.is_admin_or_convener? %>
      <%= button_to("Delete submission",
            assignment_assignment_submission_url(@assignment, @submission),
            :method => :delete,
            :class => "btn btn-danger btn-sm") %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <% if @submission.permitted_users.include?(current_user) %>
      <h3><%= @submission.context_name(@submission.user, current_user) %></h3>
    <% elsif current_user == @submission.user %>
      <% unless @assignment.already_due(current_user) %>
        <%= link_to "Submit new version", new_assignment_assignment_submission_url(
                            @assignment), :class => "btn btn-default btn-sm"%>
      <% end %>
    <% else %>
      <h3> <%= link_to(@submission.user.name,user_url(@submission.user)) %>
        (u<%= @submission.user.uni_id%>)
      </h3>
    <% end %>

    <% if @relationship == :staff && @submission.permitted_users.count > 0%>
      <p>This submission is visible to: <%=@submission.permitted_users.map {|u|
             link_to(u.name, u)}.join(", ").html_safe %></p>
    <% end %>

    <%# Only the submitter and staff should be able to click on Finalize. Luckily, they're also the only ones who can see the assignment before it's finalized. %>

    <% unless @submission.is_finalized %>
    <div class="alert alert-warning" style="margin-top:10px; padding-bottom:60px">
      <h4>  <span class="glyphicon glyphicon-warning-sign"></span> Not finalized</h4>
      <p>This submission has not been finalized. It will not be submitted for tutor consideration or peer review until you finalize it.</p>
      <%= button_to "Finalize", assignment_assignment_submission_finalize_url(
            @assignment, @submission), :class => "btn btn-primary pull-right" %>
    </div>
    <% end %>
  </div>
</div>

<% if @assignment.visible_comments || current_user != @submission.user %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <% @assignment.marking_categories.each do |category| %>
        <p><%= category.name %>: <%= category.mark_for_submission(@submission) || "-"%>/<%= category.maximum_mark %></p>
      <% end %>
      <% @assignment.peer_review_cycles.each do |cycle| %>
        <% next unless cycle.maximum_mark %>
        <p>Peer review mark for cycle <%= cycle.id %>:
            <%= cycle.mark_for_submission(@submission) || "-"%>/<%=
                                                          cycle.maximum_mark %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% if @assignment.submission_format == "plaintext" %>
  <%= render :partial => "plaintext",
                      :locals => { :submission => @submission} %>
<% elsif @assignment.submission_format == "zipfile" %>
  <%= render :partial => "zipfile",
                      :locals => { :submission => @submission} %>
<% end %>

<% if @assignment.visible_comments || current_user != @submission.user %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <h3>Comments</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <div id="comments">
        <% @submission.top_level_comments.each do |comment| %>
          <%= render :partial => "comment", :locals =>
                            { :comment => comment,
                              :submission => @submission,
                              :relationship => @relationship,
                              :assignment => @assignment
                              } %>
        <% end %>

        <%= render :partial => "new_comment",
            :locals => { :relationship => @relationship,
                         :submission => @submission,
                         :assignment => @assignment,
                         :parent_id => nil } %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <p>Comments have been disabled while the assignment is marked.</p>
    </div>
  </div>
<% end %>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
