<h2>Submission for <%=  link_to @assignment.name, assignment_url(@assignment) %></h2>

<% if current_user == @submission.user %>
  <%= link_to "Submit new version", new_assignment_assignment_submission_url(
                                                                @assignment)%>
<% else %>
  <h3> <%= link_to(@submission.user.name,user_url(@submission.user))%> (u<%= @submission.user.uni_id%>) </h3>
<% end %>

<h4>Submitted at <%= @submission.created_at %></h4>

<% if @submission.mark %>
<h4>Mark: <%= @submission.mark %></h4>
<% end %>

<% if @assignment.submission_format == "plaintext" %>
  <div id="assignment"><pre><%= @submission.body %></pre></div>
<% else %>
  <p><%= link_to "Download submission here", assignment_submission_zip_url(
                    @assignment, @submission) %> </p>
<% end %>

<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <h4>
        <%= comment.user.name %>
      </h4>
        <% if comment.mark %>
          <h5>Mark: <%= comment.mark %></h5>
        <% end %>
      <p>
        <%= comment.body %>
      </p>
    </div>
  <% end %>

  <div class="comment">
    <h4>New comment</h4>
    <form method="POST"
          action="<%= assignment_assignment_submission_comments_url(
                    @assignment, @submission)%>"
          enctype="multipart/form-data">
      <textarea name="comment[body]"></textarea>
      <% if @submission.user != current_user %>
        <br>
        <label for="comment_mark">Mark (out of <%= @assignment.maximum_mark %>)</label>
        <input id="comment_mark" name="comment[mark]">
      <% end %>
      <br>
      Attach file:
      <%= file_field 'upload', 'datafile' %>
      <br>
      <input type="submit" value="Submit!">
    </form>
  </div>
</div>