<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<div class="row">
  <div class="col-xs-5 col-xs-offset-2">
    <h2>Submission for <%=  link_to @assignment.name, assignment_url(@assignment) %></h2>
    <small>Submitted at <%= @submission.created_at %></small>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 col-xs-offset-2">
    <% if @submission.permitted_users.include?(current_user) %>
      <h3><%= @submission.context_name(@submission.user, current_user) %></h3>
    <% elsif current_user == @submission.user %>
      <% unless @assignment.already_due %>
        <%= link_to "Submit new version", new_assignment_assignment_submission_url(
                            @assignment), :class => "btn btn-default btn-sm"%>
      <% end %>
    <% else %>
      <h3> <%= link_to(@submission.user.name,user_url(@submission.user)) %>
        (u<%= @submission.user.uni_id%>)
      </h3>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 col-xs-offset-2">
    <% @assignment.marking_categories.each do |category| %>
      <p><%= category.name %>: <%= category.mark_for_submission(@submission) || "-"%>/<%= category.maximum_mark %></p>
    <% end %>
    <% @assignment.peer_review_cycles.each do |cycle| %>
      <% next unless cycle.maximum_mark %>
      <p>Peer review mark for cycle <%= cycle.id %>:
          <%= cycle.mark_for_submission(@submission) || "-"%>/<%=
                                                        cycle.maximum_mark %></p>
    <% end %>
  </div>
</div>


<% if @assignment.submission_format == "plaintext" %>
  <%= render :partial => "plaintext",
                      :locals => { :submission => @submission} %>
<% elsif @assignment.submission_format == "zipfile" %>
  <%= render :partial => "zipfile",
                      :locals => { :submission => @submission} %>
<% end %>


<div class="row">
  <div class="col-xs-5 col-xs-offset-2">
    <h3>Comments</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">

    <div id="comments">
      <% @submission.top_level_comments.each do |comment| %>
        <%= render :partial => "comment", :locals =>
                          { :comment => comment,
                            :submission => @submission,
                            :relationship => @relationship,
                            :assignment => @assignment
                            } %>
      <% end %>

      <%= render :partial => "new_comment",
          :locals => { :relationship => @relationship,
                       :submission => @submission,
                       :assignment => @assignment,
                       :parent_id => nil } %>
    </div>
  </div>
</div>


