<p>TODO: improve datetime selection</p>

<div class="form-group">
  <%= label_tag(:activation_time, "Activation time") %>
  <%= f.datetime_select(:activation_time, :class => "form-control") %>
</div>

<div class="form-group">
  <%= label_tag(:distribution_scheme, "Distribution scheme") %>
  <%= f.select(:distribution_scheme,
  options_for_select([
    ['Swap simultaneously', 'swap_simultaneously'],
    ['Send to previous', 'Send to previous']], "swap_simultaneously")) %>
</div>

<div class="form-group">
  <%= label_tag(:anonymise, "Anonymise") %>
  <%= f.check_box(:anonymise) %>
</div>

<div class="form-group">
  <%= label_tag(:shut_off_submission, "Shut off submission until they comment") %>
  <%= f.check_box(:shut_off_submission) %>
</div>

<div class="form-group">
  <%= label_tag(:maximum_mark, "Maximum mark") %>
  <%= f.text_field(:maximum_mark, :class => "form-control") %>
</div>