<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Peer review cycles for <%= link_to @assignment.name, @assignment %></h2>

    <% @assignment.peer_review_cycles.each do |cycle| %>
      <div class="cycle">
        <h3><%= cycle.created_at %>
          <% if cycle.activated %>
            <span class="label label-success">Activated</span>
          <% end %>
        </h3>
        <p><strong>Anonymise:</strong> <%= cycle.anonymise %></p>
        <p><strong>Distribution scheme:</strong> <%= cycle.distribution_scheme %></p>
        <% if cycle.distribution_scheme == "swap_simultaneously" %>
          <p><strong>Number of swaps:</strong> <%= cycle.number_of_swaps || 1 %></p>
        <% end %>
        <p><strong>Shut off submission:</strong> <%= cycle.shut_off_submission %></p>
        <p><strong>Maximum mark:</strong> <%= cycle.maximum_mark || "N.A. (no peer marking)" %></p>
        <div class="btn-group">
          <% if cycle.activated %>
            <%= link_to "Deactivate",
                      assignment_cycle_deactivate_url(@assignment.id, cycle.id),
                        :class => "btn btn-sm btn-success", :method => :post %>
          <% else %>
            <%= link_to "Activate",
                      assignment_cycle_activate_url(@assignment.id, cycle.id),
                        :class => "btn btn-sm btn-success", :method => :post %>
          <% end %>
          <%= link_to "Delete", assignment_cycles_delete_url(@assignment, cycle),
                        :class => "btn btn-sm btn-danger", :method => :delete
          %>
          <%= link_to "Edit", assignment_cycles_edit_url(
              @assignment.id, cycle.id), :method => :get,
                        :class => "btn btn-sm btn-default" %>
        </div>

        <h4>Swaps:</h4>
        <% if cycle.submission_permissions.empty? %>
          No-one has swapped yet.
        <% else %>
          <a data-toggle="collapse" href="#swap-<%= cycle.id %>">
            View all swaps (there are <%= cycle.submission_permissions.count %> of them)
          </a>
          <div id="swap-<%= cycle.id %>" class="collapse">
            <ul>
              <% cycle.submission_permissions.each do |perm| %>
                <li>
                  <%= perm.assignment_submission.user.name %>'s submission
                  <%= link_to "##{perm.assignment_submission_id}",
                        assignment_assignment_submission_url(@assignment, perm.assignment_submission) %> is visible to
                  <%= link_to perm.user.name, perm.user %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <hr>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#createCycleDiv">
            Create new peer review cycle
          </a>
        </h4>
      </div>
      <div id="createCycleDiv" class="panel-collapse collapse
        <%= "in" if @assignment.peer_review_cycles.empty? %>
      ">
        <div class="panel-body">
          <%= form_for @peer_review_cycle, html: {:class => "form", :role => "form"},url: {action: "create"} do |f| %>

          <%= render :partial => "form",
                     :locals => { :peer_review_cycle => @peer_review_cycle,
                                  :f => f } %>
            <%= f.submit("Create peer review cycle", :class => "btn btn-primary") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
