<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2><%= @group_type.name %></h2>

    <p><%= @group_type.name %> includes students from the following courses:</p>

    <ul>
      <% @courses.each do |course| %>
        <li>
          <%= link_to course.name, course_url(course) %>
        </li>
      <% end %>
    </ul>

    <p>It has the following groups:</p>

    <ul>
      <% @group_type.groups.each do |group| %>
        <li>
          <%= link_to group.name, group_url(group) %> (<%= group.students.count %> students)
        </li>
      <% end %>
    </ul>



    <% if @group_type.conveners.include?(current_user) || current_user.is_admin %>

    Students who don't have a group: <%= @group_type.students_without_a_group_count %>

      <h5 data-toggle="collapse" data-target="#edit-groups">
        Edit groups
      </h5>

      <div id="edit-groups" class="collapse">
        <form method="POST"
              action="<%= group_type_edit_by_csv_url(@group_type) %>"
              role="form"
              class="form"
              >
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

          <div class="form-group">
            <textarea name="group_type_csv" class="form-control"><%= @group_type.render_csv %></textarea>
          </div>

          <div class="form-group">
            <input class="btn btn-primary extra_space_button" type="submit" value="Submit CSV">
          </div>
        </form>
      </div>

    <% end %>
  </div>
</div>