<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>New course</h2>
  <%= form_for @course, url: {action: "create"}, html: {role: "form"} do |f| %>
    <p><%= label_tag(:name, "Name") %>
    <%= f.text_field(:name) %></p>

    <% if current_user.is_admin %>
      <p><%= label_tag(:convener_id, "Convenor") %>
      <%= f.collection_select(:convener_id, User.all, :id, :name) %></p>
    <% else %>
      <p><strong>Convenor:</strong> <%= current_user.name %> </p>
    <% end %>

    <p><label for="students_csv">Students</label>
      <textarea id="students_csv" name="students_csv]">name,uni id</textarea>
    </p>


    <p><%= f.submit("Create course", :class => "btn btn-primary") %></p>
  <% end %>
  </div>
</div>