<% content_for :title, @course.name %>

<div class="row">
  <div class="col-sm-9 col-sm-offset-2">
    <h2><%= @course.name %></h2>

    <p><em>Course convener: <%= link_to @convener.name, user_url(@convener) %></em></p>

    <p>
    <% if current_user == @convener || current_user.is_admin %>
      <%= link_to "Create new group type", new_group_type_url , :class => "btn btn-primary btn-sm" %>
      <%= link_to("Enroll students and staff", new_course_user_url(@course), :class => "btn btn-primary btn-sm") %>
    </p>
    <% end %>

    <% if @assignments %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Assignments</h4></div>
        <ul class="list-group">
          <% @assignments.each do |assignment| %>
            <li class="list-group-item">
              <%= link_to assignment.name, assignment_url(assignment) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if @group_types %>
      <% @group_types.each do |group_type| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= link_to group_type.name, group_type_url(group_type) %>
              <% if current_user == @convener %>
                <div class="btn-group" style="float:right">
                <%= link_to "New assignment", new_group_type_assignment_url(group_type), 
                  :class => "btn btn-default btn-sm" %>
                <%= link_to "Delete group", group_type_url(group_type), :method => :delete, 
                  :class => "btn btn-danger btn-sm", data: {confirm: "Are you sure?"} %>
                </div>
              <% end %>
            </h4>
          </div>

          <ul class="list-group">
            <% group_type.groups.each do |group| %>
              <li class="list-group-item">
                <%= link_to group.name, group_url(group) %>
              </li>
            <% end %>
          </ul>
        </div>
    
      <% end %>
    <% end %>

    <h3>Staff</h3>
    <table id="staff" class="table table-bordered table-striped">
      <% @staffs.each do |staff| %>
      <tr>
        <td> <%= link_to staff.name, user_url(staff) %> </td>
      </tr>
      <% end %>
    </table>

    <% if (@course.staff+[@course.convener]).include?(current_user) or current_user.is_admin %>
      <h3>Students</h3>
      <table id="students" class="table table-bordered table-striped">
        <tr>
          <th><h5>Student</h5></th>
          <th><h5>ID</h5></th>
        </tr>
        <% @students.each do |student| %>
            <tr>
              <!-- User info -->
              <td><%= link_to student.name, user_url(student) %></td>
              <td><%= link_to "u" + student.uni_id.to_s, user_url(student) %></td>
            </tr>
        <% end %>
      </table>
    
    <% elsif @course.students.include? current_user %>
    <% else %>
      <em>Note that you aren't enrolled in this course--you'd
             see more if you were.</em>
    <% end %>
  </div>
</div>

