<h2><%= @course.name %></h2>

<em>Course convenor: <%= link_to @convenor.name, user_url(@convenor) %></em>

<h3>Staff</h3>
<ul>
  <% @staffs.each do |staff| %>
    <li> <%= link_to staff.name, user_url(staff) %> </li>
  <% end %>
</ul>

<h3>Students</h3>
<ul>
  <% @students.each do |student| %>
    <li> <%= link_to student.name, user_url(student) %> </li>
  <% end %>
</ul>

<% @group_types.each do |group_type| %>
  <h3><%= link_to group_type.name, group_type_url(group_type) %></h3>
    <ul>
      <% group_type.groups.each do |group| %>
        <li>
          <%= link_to group.name, group_url(group) %>
        </li>
      <% end %>
    </ul>
<% end %>
