<!DOCTYPE html>
<html>
<head>
  <title>SubmissionApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="title">
    <% if current_user %>
      <%=link_to (image_tag "logo.jpg"), "/" %>
    <% else %>
      <%=link_to (image_tag "logo.jpg"), new_sessions_url %>
    <% end %>
</div>

<div id="userdetails">
  <% if current_user.nil? %>
    You're not signed in. <%= link_to "Log in", new_sessions_url %>
  <% else %>
    Hello <%= link_to(current_user.name, user_url(current_user)) %> <br>
    <%= button_to("Log out", sessions_url, :method => :delete)%>
    <% if current_user.is_admin %>
      <p>You're an admin!</p>
    <% end %>
    <% if current_user.is_convenor? %>
      <p>You're a convenor!</p>
    <% end %>
  <% end %>
</div>

<% if flash[:errors] && flash[:errors].length > 0 %>
  <div id="errors">
    <h3>Error!</h3>
    <% flash[:errors].each do |error| %>
      <div id="error">
        <%= error.to_s %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="main">

<%= yield %>

</div>

</body>
</html>
