<!DOCTYPE html>
<html>
<head>
  <title>SubmissionApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="title">
  <h1>
    <% if current_user %>
      <%=link_to "Submission App", "/" %>
    <% else %>
      <%=link_to "Submission App", new_sessions_url %>
    <% end %>
  </h1>
</div>

<div id="userdetails">
  <% if current_user.nil? %>
    <%= link_to "Login", new_sessions_url %>
  <% else %>
    Hello <%= link_to(current_user.name, user_url(current_user)) %> <br>
    <%= button_to("Logout", sessions_url, :method => :delete)%> 
  <% end %>
</div>

<% if flash[:errors] && flash[:errors].length > 0 %>
  <div id="errors">
    <h3>Error!</h3>
    <% flash[:errors].each do |error| %>
      <div id="error">
        <%= error.to_s %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="main">

<%= yield %>

</div>

</body>
</html>
