<!DOCTYPE html>
<html>
<head>
  <title>SubmissionApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% "TODO: navbar fixed at top" %>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">&#9776;</button>
    <a class="navbar-brand" href="/">Submission App</a>
  </div>

  <% if current_user %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/courses">Courses</a></li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% current_user.all_assignments.each do |assignment| %>
              <li><%= link_to assignment.name, assignment %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.is_admin %>
          <li><a>You're an admin.</a></li>
        <% end %>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.name%><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%=user_url current_user%>">Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", sessions_url, method: :delete %></li>

          </ul>
        </li>
      </ul>
    </div>
  <% end %>
</nav>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <% flash[:errors] && flash[:errors].each do |error| %>
      <div class="alert alert-danger">
        <%= error.to_s %>
      </div>
    <% end %>

    <% flash[:notifications] && flash[:notifications].each do |notification| %>
      <div class="alert alert-warning">
        <%= notification.to_s %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
